@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background: #000;
  color: #FFF;
}


#canvas {
    width: auto;
    height: auto;
    border: none;
    background: #000;
}

#canvas2 {
    width: auto;
    height: auto;
    display: none;
}

#canvas3 {
    width: auto;
    height: auto;
}

img {
  display: block;
}

.container{
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.controlsWrapper{
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
}

.input-wrapper{
  margin-bottom: 8px;
}

legend {
  font-size: 16px;
  letter-spacing: 0.15em;
  float: left;
  width: 100%;
  margin-bottom: 16px;
}

fieldset {
  margin: 0px;
  border: none;
  padding: 16px;
}

label {
  font-size: 12px;
  letter-spacing: 0.15em;
}

.canvasWrapper{
  flex: 1;
  overflow: auto;
  display: grid;
  place-content: center;
}

.fileInputLabel {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#fileInput{
  max-width: 200px;
  opacity: 0;
}

#videoControls{
  justify-self: center;
}